.sidebar {
  width: 220px;
  background: #121212;
  color: white;
  padding: 20px;
  min-height: calc(100vh - 60px);
}

.sidebar h3 {
  margin-bottom: 20px;
  color: #4caf50;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1e1e1e;
}

.sidebar .active {
  background: #4caf50;
  color: black;
  font-weight: bold;
}
