.student-layout {
    display: flex;
    min-height: 100vh;
    background: #0f172a;
    color: white;
}

.sidebar {
    width: 240px;
    background: #020617;
    padding: 25px;
}

.sidebar-title {
    text-align: center;
    margin-bottom: 20px;
    color: #38bdf8;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-item.active {
    background: #2563eb;
}

.dashboard-content {
    flex: 1;
    padding: 40px;
}

.info-card {
    margin-top: 20px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
}